* {
    max-width: 993px;
    font-family: Inter;
}
.navbar {
    height: 92px;
    background-color: #1a1a3a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}
.left {
    margin-left: 124px;
}

span {
 background: linear-gradient(to top, gold, hotpink, darkorchid);
 -webkit-background-clip: text;
     color: transparent;
    text-shadow: 1px 12px 26px rgba(0, 0, 0, 0.8);
}
.center {
 
display: flex;
gap: 20px;
}
.right {          
   
    margin-right: 124px;
   /*background-image: linear-gradient(gold, hotpink, darkorchid);*/
   background-color: darkorchid;
  animation-name: animation ;
  animation-duration: 5s;
  border-radius: 45px;
}
@keyframes animation {
    from {
        background-color: darkorchid;
    }
    to {
        background-color: deeppink;
    }
}
header {
    margin: 0;
    padding: 0;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 760px;
    overflow: hidden;
}
.container {
    position: relative;
    text-align: center;
    width: 100%;
    max-width: 993px;
    height: 400px;
}

.img1 {
    width: 100%;
    height: 772px;
    position: absolute;
   bottom: -50px;
     left: 0;
    z-index: -1;
    
}
.container1 {
    position: relative;
    width: 200px;
    margin-top: -15%;
   
   margin-left: 40%;
}
.l-image {
    width: 100%;
    height: auto;
    display: block;
   
    
}
.l-image1 {
width: 70px;
margin-bottom: 30%px;


 transform: translate(-2%, -145%); 
}

.new1 {
   position: absolute;
   top: 12px;
   right: 15px;
   background-color: #0ff27c;
   color: black;
   padding: 2px 6px;
   border-radius: 20px;
   font-size: 10px;
   align-items: center;
   
}
.btn {
   
}
.btn1 {
    font-size: 10px;
    display: flex;
    align-items: center;
    margin-left: 41%;
    height: 30px;
    gap: 8px;
    background-image: linear-gradient(darkorchid, hotpink, gold );
    border-radius: 45px;
   color: white;
   
}
.btn2 {
    font-size: 10px;
    height: 27px;
    display: flex;
    padding: 10px;
    align-items: center;
    gap: 8px;
    border: 1px solid #00FF88;
    margin-left: 53%;
    background: none;
    color: #00FF88;
    margin-top: -3%;
    border-radius: 45px;
}
.i1 {
    width: 12px;
}
.i2 {
    width: 12px;
}
.d1 {
    
   height: 646px;
  margin-top: -19%;
  background-color: #010134;
  color: #FFFFFF;
}
.d2 {
   
    height: 222px;
    width: 743px;
    margin-left: auto;
    margin-right: auto; 
    margin-top: 50px;
    
}
   .d3 {
    
    font-size: 48px;
    height: 58px;
    margin-top: 0;
    text-align: center;
   
   }
.d4 {
    
    height: 148px;
    margin-top: -24px;
    text-align: center;
    line-height: 12px;
}
hr {
    width: 743px;
    margin-top: 80px;
    opacity: 10%;
}
.d5 {
   
    width: 743px;
    height: 94px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
    text-align: center;
    ;
} 
.da {
    
    width: 148px;
    height: 94px;
}
.db {
    
    width: 148px;
    height: 94px;
}
.dc {
    
    width: 148px;
    height: 94px;
}
.dd {
    
    width: 148px;
    height: 94px;
}
.hight {
    height: 58px;
    margin-top: 0;
    font-size: 38px;
    color: #00FF88;
}
.hight1 {
    height: 20px;
    font-size: 14px;
    margin-top: -12px;
}
.body-artical {
   
    height: 1121px;
    background-color: #2e1350;
}
.artical-had {
    
    width: 773px;
    height: 58px;
   text-align: center;    
    
    margin-left: auto;
    margin-right: auto;
    color: white;
    font-weight: bold;
}
.big {
    margin-top: 0;
    font-size: 48px;
    font-weight: bold;
}
.menu {
    
    width: 773px;
    height: 783px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  
}

.no {
    width: 60px;
    height: 60px;
    
}
.grid1 {
    grid-row: span 2;
    background-color: #351165;
    
    border-radius: 40px;
    
}
.grid2 {
    grid-column: span 2;
    background-color: #351165;
    
    border-radius: 40px;
}
.grid3 {
    grid-column: span 2;
    background-color: #351165;
    
    border-radius: 40px;
}
.grid4 {
    grid-column: span 2;
    background-color: #351165;
   
    border-radius: 40px;
}
.grid5 {
    background-color: #351165;
     border-radius: 40px;
}
.white {
    color: #FFFFFF;
}
.opacity {
    color: #FFFFFF;
    opacity: 60%;
}
.img2 {
    margin-top: 40px;
    margin-left: 40px;
}
.img0 {
    margin-top: 107px;
    margin-left: 40px;
}
.last {
 
    height: 1276px;
    background-color: #010134;
  margin-top: -120px;
   border: 1px solid;
    
}
.last1 {
    
    width: 773px;
    height: 538px;
    margin-left: auto;
    margin-right: auto;
   
}
.last2 {
  
    height: 58px;
    color: white;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
  
margin-top: 120px;
   
}
.last4 {
   
    height: 440px;
    width: 240px;
   background-color: #1a1a3a;
   border-radius: 20px;
}


.i3 {
   width: 100%;
}
.last3 {
    display: flex;
    gap: 19px;
}
.clock {
    display: flex;
    height: 24px;
    gap: 6px;
    padding-left: 24px;
}
.white1 {
    margin-top: 0;
    color: #00FF88;
    
}
.content {
    
    height: 226px;
    margin-top: 24px;
    margin-left: 24px;
    margin-right: 24px;
}
.small {
    font-size: 16px;
}
.second-content {
    margin-top: 120px;
    
    width: 773px;
   height: 378px;
   margin-left: auto;
   margin-right: auto;
  
}
.second-content-h1 {
 
    height: 58px;
    color: white;
    text-align: center;
}
.second-content-body {
    
    height: 280px;
    background-color: #1a1a3a;
    color: white;
    
}
.second-content-img {
   
    display: flex;
   
}
.circle {
   width: 128px;
   height: 200px;
    
   
}
.circle1 {
   
    width: 128px;
    height: 200px;
   margin-top: 40px;
   margin-bottom: 40px;
   margin-left: 25px;
}
.second-content-had {
   
    margin-left: 15px;
    height: 183px;
    margin-top: 48px;
}
.hight0 {
 
    margin-top: 0;
    height: 39px;
    font-weight: bold;
    
}
.hight2 {
    
    height: 72px;
    margin-top: -12px;
    color: white;
    opacity: 60%;
}
.group {
   
    width: 118px;
    height: 40px;
    margin-top: 16px;
   display: flex;
   gap: 5px;
}
.group1 {
    border: 1px solid white;
    width: 24.5px;
    height: 30px;
   margin-top: 5px;
   border-radius: 100%;
}
.group0 {
   margin-top: 7px;
   margin-left: 3.5px;
}

footer {
   
    height: 412px;
    background-image: url("../B13-A02-TechWave/assets/hero-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
   
}
.footer1 {
    margin-top: -25px;
    width: 844px;
    height: 172px;
   margin-left: auto;
  margin-right: auto;

}
.footer-title {
     height: 1px;
     border: 1px solid #010134;
    color: white;
    text-align: center;
}
.footer-title1 {

  margin-top: 100px;
}
.footer-icon {
   margin-top: 160px;
    width: 338px;
    height: 24px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
}
.footer-icon-c {
    display: flex;
    color: white;
    width: 70px;
    
}
.gap {
    margin-left: 17px;
}
.font {
   margin-top: 7px;
    font-size: 10px;
    margin-left: 4px;
}
.img-small {
    width: 15px;
    height: 15px;
    margin-top: 4px;
}
.end {
    color: white;
    opacity: 60%;
    text-align: center;
}